<%= render 'shared/rednavbar' %>
<div class="banner">
  <%= image_tag "parolescitoyennes.png", class:"logo-banner" %>
  <p>Bienvenue sur notre plateforme collaborative <strong>Paroles Citoyennes Villeneuve d’Ascq 2020</strong> ! Cette plateforme ouverte s’adresse à toutes celles et ceux qui veulent faire vivre le débat d’idées et formuler des propositions pour notre ville.</p>

  <!-- Begin Mailchimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <style type="text/css">
      #mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
      #mergeRow-gdpr {margin-top: 20px;}
      #mergeRow-gdpr fieldset label {font-weight: normal;}
      #mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
  </style>
  <div class="newsletter">
    <form action="https://didier-manier.us10.list-manage.com/subscribe/post?u=14c90e8e347fe00387b0b20d2&amp;id=0492b74620" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Adresse e-mail" style="width: 270px">
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_14c90e8e347fe00387b0b20d2_0492b74620" tabindex="-1" value="">
        </div>
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Je reste informé.e</button>
    </form>
    <div id="proposition">
      <p><strong>J'ai une proposition à partager, je clique </strong><a href="/proposition" class="click-link">ici</a></p>
    </div>
  </div>
</div>


<!--End mc_embed_signup-->


<div class="wrapper">
  <div class="container">
    <h1>Paroles citoyennes </h1>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <%= render 'videos/card1' %>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <%= render 'videos/card2' %>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <%= render 'videos/card3' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <%= render 'videos/card4' %>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <%= render 'videos/card5' %>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <%= render 'videos/card6' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <%= render 'videos/card7' %>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <%= render 'videos/card8' %>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <%= render 'videos/card9' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <%= render 'videos/card10' %>
      </div>
    </div>
  </div>
</div>
<%= image_tag "illustration-va-red.svg", class: "fix-bottom-illustration" %>
<%= render 'shared/redfooter' %>
