<div>
  <p> M/Mme : <%= @prenom %> <%= @nom %></p>
</div>
<div>
  <p> Adresse e-mail: <%= @email %> </p>
</div>
<div>
  <p> Numéro de téléphone: <%= @telephone %> </p>
</div>
<div>
  <p> Titre de la proposition: <%= @titre %> </p>
</div>
<div>
  <p> Contenu de la proposition: <%= @contenu %> </p>
</div>
