<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Paroles citoyennes Villeneuve d'Ascq 2020</title>

    <meta name="description" content="Paroles Citoyennes est la plateforme participative des habitants de Villeneuve d'Ascq pour partager ses propositions en vue des élections municipales de 2020. Objectif solidarité, écologie et progrès.">
    <meta property="og:title" content="Paroles Citoyennes - Villeneuve d'Ascq 2020">
    <meta property="og:image" content="logo.jpg">
    <meta property="og:description" content="Paroles Citoyennes est la plateforme participative des habitants de Villeneuve d'Ascq pour partager ses propositions en vue des élections municipales de 2020. Objectif solidarité, écologie et progrès.">
    <meta property="og:site_name" content="Paroles citoyennes Villeneuve d'Ascq 2020"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Parolescitoyennesvilleneuve2020">
    <meta name="twitter:title" content="Paroles Citoyennes - Villeneuve d'Ascq 2020">
    <meta name="twitter:description" content="Paroles Citoyennes est la plateforme participative des habitants de Villeneuve d'Ascq pour partager ses propositions en vue des élections municipales de 2020. Objectif solidarité, écologie et progrès.">
    <meta name="twitter:creator" content="@Parolescitoyennesvilleneuve2020">
    <meta name="twitter:image:src" content="logo.jpg">

    <%= favicon_link_tag 'bulles.ico'%>
    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </body>
</html>



